body{
    background:#020617;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.calculator{
    background:#0f172a;
    padding:20px;
    border-radius:15px;
    width:260px;
}

#display{
    width:100%;
    height:50px;
    font-size:22px;
    margin-bottom:15px;
    text-align:right;
    padding-right:10px;
    border:none;
    border-radius:10px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    padding:15px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#38bdf8;
}

.equal{
    grid-row:span 2;
    background:#38bdf8;
}

.zero{
    grid-column:span 2;
}
